body {
  margin: 0;
  font-family: "Courier New", monospace;
  background-color: #000000;
  color: #00ff88;
}

.section {
  padding: 80px 60px;
}

.navbar {
  padding: 20px 60px;
  border-bottom: 1px solid #00ff88;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #00ff88;
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  color: #ffffff;
}

.command {
  color: #00ff88;
}

.output {
  color: #ffffff;
  margin-top: 10px;
}

.card {
  border: 1px solid #00ff88;
  padding: 20px;
  margin-top: 20px;
}
button {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
}
button:hover {
  background: #00ff88;
  color: black;
}
input, textarea {
  background: black;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}